/* grass */
.Grass {
    background: grey;
    opacity: 0.7;
}

.Grass:hover {
    opacity: 1;
    background: linear-gradient(#1d8f2ee6, #55df6ae6);
    border: 1px solid white;
}

.GrassClicked {
    opacity: 1;
    background: linear-gradient(#1d8f2ee6, #55df6ae6);
    border: 1px solid white;
}

/* poison */
.Poison {
    background: grey;
    opacity: 0.7;
}

.Poison:hover {
    opacity: 1;
    background: linear-gradient(#d762d7, #7b1c7b);
    border: 1px solid white;
}

.PoisonClicked {
    opacity: 1;
    background: linear-gradient(#d762d7, #7b1c7b);
    border: 1px solid white;
}

/* fire */
.Fire {
    background: grey;
    opacity: 0.7;
}

.Fire:hover {
    opacity: 1;
    background: linear-gradient(#f2761e, #dba27a);
    border: 1px solid white;
}

.FireClicked {
    opacity: 1;
    background: linear-gradient(#f2761e, #dba27a);
    border: 1px solid white;
}

/* water */
.Water {
    background: grey;
    opacity: 0.7;
}

.Water:hover {
    opacity: 1;
    background: linear-gradient(#286ec3, #6fa1dd);
    border: 1px solid white;
}

.WaterClicked {
    opacity: 1;
    background: linear-gradient(#286ec3, #6fa1dd);
    border: 1px solid white;
}

/* bug */
.Bug {
    background: grey;
    opacity: 0.7;
}

.Bug:hover {
    opacity: 1;
    background: linear-gradient(#36840c, #5db52e);
    border: 1px solid white;
}

.BugClicked {
    opacity: 1;
    background: linear-gradient(#36840c, #5db52e);
    border: 1px solid white;
}

/* normal */
.Normal {
    background: grey;
    opacity: 0.7;
}

.Normal:hover {
    opacity: 1;
    background: linear-gradient(#A8A878, #e9e9b1);
    border: 1px solid white;
}

.NormalClicked {
    opacity: 1;
    background: linear-gradient(#A8A878, #e9e9b1);
    border: 1px solid white;
}

/* electric */
.Electric {
    background: grey;
    opacity: 0.7;
}

.Electric:hover {
    opacity: 1;
    background: linear-gradient(#ffeb9d, #F8D030);
    border: 1px solid white;
}

.ElectricClicked {
    opacity: 1;
    background: linear-gradient(#ffeb9d, #F8D030);
    border: 1px solid white;
}

/* ground */
.Ground {
    background: grey;
    opacity: 0.7;
}

.Ground:hover {
    opacity: 1;
    background: linear-gradient(#E0C068, #f4e3b7);
    border: 1px solid white;
}

.GroundClicked {
    opacity: 1;
    background: linear-gradient(#E0C068, #f4e3b7);
    border: 1px solid white;
}

/* fairy */
.Fairy {
    background: grey;
    opacity: 0.7;
}

.Fairy:hover {
    opacity: 1;
    background: linear-gradient(#EE99AC, #ffffff);
    border: 1px solid white;
}

.FairyClicked {
    opacity: 1;
    background: linear-gradient(#EE99AC, #ffffff);
    border: 1px solid white;
}

/* fighting */
.Fighting {
    background: grey;
    opacity: 0.7;
}

.Fighting:hover {
    opacity: 1;
    background: linear-gradient(#94352D, #cd857f);
    border: 1px solid white;
}

.FightingClicked {
    opacity: 1;
    background: linear-gradient(#94352D, #cd857f);
    border: 1px solid white;
}

/* psychic */
.Psychic {
    background: grey;
    opacity: 0.7;
}

.Psychic:hover {
    opacity: 1;
    background: linear-gradient(#FF6996, #f6c1d2);
    border: 1px solid white;
}

.PsychicClicked {
    opacity: 1;
    background: linear-gradient(#FF6996, #f6c1d2);
    border: 1px solid white;
}

/* rock */
.Rock {
    background: grey;
    opacity: 0.7;
}

.Rock:hover {
    opacity: 1;
    background: linear-gradient(#B8A038, #ffec95);
    border: 1px solid white;
}

.RockClicked {
    opacity: 1;
    background: linear-gradient(#B8A038, #ffec95);
    border: 1px solid white;
}

/* ice */
.Ice {
    background: grey;
    opacity: 0.7;
}

.Ice:hover {
    opacity: 1;
    background: linear-gradient(#98D8D8, #f7fbfb);
    border: 1px solid white;
}

.IceClicked {
    opacity: 1;
    background: linear-gradient(#98D8D8, #f7fbfb);
    border: 1px solid white;
}

/* ghost */
.Ghost {
    background: grey;
    opacity: 0.7;
}

.Ghost:hover {
    opacity: 1;
    background: linear-gradient(#ad8be3, #614C83);
    border: 1px solid white;
}

.GhostClicked {
    opacity: 1;
    background: linear-gradient(#ad8be3, #614C83);
    border: 1px solid white;
}

/* dragon */
.Dragon {
    background: grey;
    opacity: 0.7;
}

.Dragon:hover {
    opacity: 1;
    background: linear-gradient(#700AEE, #c293fa);
    border: 1px solid white;
}

.DragonClicked {
    opacity: 1;
    background: linear-gradient(#700AEE, #c293fa);
    border: 1px solid white;
}

.Flying {
    background: linear-gradient(#24a78f, #88f5e1);
    opacity: 0.7;
}