h1 {
    color: #F94746;
    margin: 0 !important;
}

.start {
    position: fixed;
    z-index: 3;
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.starthide {
    /* display: none; */
    position: fixed;
    z-index: 0 !important;
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    transition: all 1s ease-in-out;

    opacity: 0;
}

.start button {
    width: 200px;
}

.startGif {
    height: 45vh;
    width: 40%;
    object-fit: cover;
}

.backgroundImg {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main {
    z-index: 1 !important;
    position: relative;
}

.leftSide {
    display: flex;
    align-items: center;
    height: 96px;
}

.rightSide {
    display: flex;
    gap: 8px;
}

nav {
    border-bottom: 1px solid;
}

.pokemon {
    border: 1px solid;
    border-radius: 15px;
    height: 200px;
    width: 350px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #000000;
    cursor: pointer;
}

/* HELP !!!!!!!!!!!!!!!!! */
.pokemon:hover img {
    transform: translate(20px, 20px);
    /* transform: translate(20px, 20px); */
    transition: transform 200ms ease-in-out;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.pokemonImage {
    max-width: 200px;
    max-height: 140px;
    transition: transform 200ms ease-in-out;
}

h4 {
    padding: 5px 10px 5px 10px;
    /* text-decoration: underline; */
}

.flexing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    height: 100%;
    padding: 4px 0 4px 0;
}

.pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    height: 200px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextButton {
    width: 300px;
    height: 100px;
    border-radius: 15px !important;
    font-size: 20px !important;
}

.stats {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}